html, body {
  font-family: 'Poppins', sans-serif;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .h-w-fill {
    height: -webkit-fill-available;
  }
  html {
    @apply overflow-y-auto;
    height: -webkit-fill-available;
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  .h-w-fill {
    height: 100vh;
  }
  html {
    @apply overflow-y-auto;
    height: 100vh;
  }
}